<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/delete.css" rel="stylesheet">
    
</head>
<body>
    <form action="/delete" method="POST">
        <label for ="delete">Enter the title of the Post you would like to delete</label><br>
        <input type="text" id="delete" name="delete" required><br>
        <input class="button" type="submit" value="Delete">  
    
</body>
</html>
<%- include("partials/footer.ejs") %>