<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="/edit.css" rel="stylesheet">   
</head>
<body>
    <form action="/edit" method="POST">
        <label for ="target">Enter the title of the Post you would like to change:</label><br>
        <input class="edit" type="text" id="target" name="target" required><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="Author">Author:</label><br>
        <input type="text" id="author" name="author" required> <br> 
        <label for="content">Content:</label><br>
        <input class="maindata" type="text" id="content" name="content" required>  <br>
        <br>
        <input class="button" type="submit" value="Edit Post">        
    </form>
</body>
</html>


<%- include("partials/footer.ejs") %>