body {
    background: linear-gradient(to bottom, rgb(221, 244, 180), rgb(180, 221, 190));
}


form {
    text-align: center;
    margin: 25px;
}
input {
    width: 70%;
    border-radius: 7px;
    margin: 25px;
}

.button {
    margin-top: 25px;
    width: 20%;
    opacity: 0.7;
    transition: 0.3;
    
}
.button:hover {opacity: 1;
    font-weight: bold;}